*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #255EE9; 
    padding: 20px;
}

img{
    width: 100%;
}

h1{
    color: white;
    text-align: center;
    font-weight:bolder;
    font-size: 2.7rem;
}

h2{
    font-size: 3rem;
    line-height: 60px;
}

h3{
    font-size: 2.4rem;
    color: #7289DA;
}

h4{
    color: #7289DA;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: auto;
}

/* WAVES */
.wave1 {
    display: block;
    position: relative;
    height: 40px;
    width: 100%;
    background: #FFFFFF;
    transform: scale(1, 1);
}

.wave1:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color: #F6F6F6;
    right: -25%;
    top: 20px;
    z-index: -1;
}

.wave1:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color: #FFFFFF;
    left: -25%;
    top: -240px;
    clip-path: ellipse(100% 15% at -15% 100%);
    z-index: -1;
}


.wave2 {
    display: block;
    position: relative;
    height: 40px;
    width: 100%;
    background: #F6F6F6;
    transform: scale(1, 1);
}

.wave2:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color: #FFFFFF;
    right: -25%;
    top: 20px;
    z-index: -1;
}

.wave2:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color: #F6F6F6;
    left: -25%;
    top: -240px;
    clip-path: ellipse(100% 15% at -15% 100%);
    z-index: -1;
}




.button{
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 30px;
    width: fit-content;
}

.button, btn-main, .btn-black, .btn-white{
    font-size: 1.2em;
    padding: 13px 25px;
}

/* BOTTONI */
.btn-white{
    background-color: white;
    color: black;
}

header .btn-white{
    font-size: 1rem;
    padding: 10px 15px;
}

.btn-white:hover{
    cursor: pointer;
    color: #4E62D6;
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.2);
}

.btn-black{
    background-color: rgb(44, 44, 44);
    color: white;
}

.btn-black:hover{
    cursor: pointer;
    color: #4E62D6;
    box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.2);
}

.btn-purple{
    background-color: #7289DA;
    color: white;
    margin-top: 30px;
}

.btn-purple:hover{
    cursor: pointer;
    color: black;
    box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.2);
}

.footer-bottom .div-footer-bot .text-footer .btn-purple:hover{
    cursor: pointer;
    color: black;
    box-shadow: 0px 1px 20px 1px rgba(223, 223, 223, 0.2);
}


.bg-grey{
    background-color: #F6F6F6;
}


/* HEADER */
header .div-header{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: 85%;
}

header .div-header img{
    width: 150px;
}

header .div-header img:hover{
    cursor: pointer;
}

header .div-header div{
    width: 20%;
    padding: 8px 15px;
}

header .div-header #login{
    color: black;
    text-align: right;
}

header .div-header nav{
    display: flex;
    justify-content: space-around;
    width: 60%;
    padding: 8px 15px;
}

header .div-header ul{
    display: flex;
    list-style: none;
}

header .div-header ul li a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
}

header .div-header ul li a:hover{
    text-decoration: underline;
}


/* HERO AREA */
.hero-area{
    background-image: url('../img/jumbo.png');
    background-position: center;
    background-size: cover;
}

.hero-area .hero-box{
    background-color: transparent;
    width: 50%;
    height: 400px;
    padding: 10px;
}

.hero-area .hero-box .hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.hero-area .hero-box .hero-btn button{
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-area .hero-box p{
    text-align: center;
    color: white;
    margin-top: 30px;
}

.hero-area .hero-box .btn-download{
    font-weight: bold;
}

.hero-area .hero-box #btn-app{
    font-weight: bold;
}

.btn-download::before{
    content: '\2193';
    margin-right: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}


/* MAIN */
.m1{
    background-color: white;
    padding: 220px 0;
}

.m2{
    padding: 220px 0;
}

#t1{
    margin-top: 35px;
}

/* section1 (main1) */
.big-box{
    background-color: transparent;
    align-self: flex-start;
    width: 43%;
    z-index: 1;   
}

.m1.container .container .big-box{
    margin-right: 100px;
    align-self: flex-start;
}

.m2.container .container .big-box{
    margin-left: 100px;
}
.m2.container .container .small-box{
    margin-top: 30px;
}

.small-box{
    background-color: transparent;
    width: 27%;
    align-self: flex-start;
    z-index: 1;   
}

.small-box p{
    font-size: 1.2rem;
    margin-top: 20px;
}

/* section green */
.big-img{
    background-color: transparent;
    width: 70%;
    z-index: 1;
}

.big-section{
    text-align: center;
    padding: 190px 0;
}

.big-section .big-img p{
    font-size: 1.2rem;
    margin-top: 20px;
}

.big-section .big-img .bg-star{
    background-image: url('../img/stars.svg');
    background-position: bottom 50px;
    background-repeat: no-repeat;
    background-size: 99%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    width: 42%;
    height: 72px;
}

.big-section .big-img .bg-star p{
    font-size: 1.6rem;
    font-weight: bold;
}


/* FOOTER */
footer{
    background-color: #292B2E;
}
/* footer top */
.footer-top{
    width: 100%;
    padding-bottom: 15px;
}

.div-footer-top{
    display: flex;
    justify-content: center;
    width: 70%;
    border-bottom: 1px solid #7289daaf;
    padding: 70px 10px;
}

.footer-top .big-div{
    background-color: transparent;
    color: white;
    width: 30%;
    margin-right: 90px;
}

.footer-top .big-div img{
    width: 30px;
    margin-top: 32px;
    vertical-align: bottom;
}

.footer-top .big-div .ita-flag:hover{
    cursor: pointer;
    color: #7289DA;
}

.footer-top .big-div .ita-flag::after{
    content: '\02C5';
    font-size: .8em;
    font-weight: bold;
}

.social{
    display: flex;
    justify-content: space-between;
    width: 59%;
    font-size: 1.2rem;
    margin-top: 25px;
}

.social i:hover{
    cursor: pointer;
    color: #7289DA;
}

/* .social i{
    margin: 0 5px;
} */

.footer-top .small-div{
    background-color: transparent;
    width: 19%;
    color: white;
    font-size: 1.1rem;
    text-align: left;
    line-height: 35px;
}

.footer-top .small-div a{
    display: block;
    text-decoration: none;
    color: white;
}

.footer-top .small-div a:hover{
    color: #7289DA;
}

/* footer bottom */

.footer-bottom .div-footer-bot .text-footer .button{
    margin: 0;
    font-size: 1rem;
    padding: 10px 15px;
}

.div-footer-bot{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 5px 0 60px 0;
}
